.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
p{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    margin-left: 10px;
    padding: 0;

}
button{
    /* display: inline-block; */
    vertical-align: middle;
    margin-left: 10px;
    padding: 0;
}
.blogs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background-color: lightblue; */
    row-gap: 10px;
}

.blog{
    display:inline-block;
    width:20%;
    padding: 10px;
    margin: 10px;
    margin-right:20px;
    background-color: white;
    border: 1px solid lightblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    animation: identifier 2s infinite;
    transition: transform 0.5s ease;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}
@keyframes identifier {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
        border:0capacity solid rgb(55, 171, 210);
        box-shadow: 0 0 10px rgba(55, 171, 210, 0.8);
    }
    100% {
        transform: translateY(0); 
    }
}
.blog img{
    width:90%;
    height: 205px;
    object-fit: cover;
    border-radius: 10px;
    padding: 5px 10px;
    padding-right: 10px;
    overflow: hidden;
    background-color: rgb(199, 195, 195) !important;
    border: 1px solid rgb(127, 115, 115) !important;
    border-shadow: 1px 1px 10px rgba(127, 115, 115,0.1);
    border-radius: 10px;

}

.blog p{
    margin: 10px 0;
    padding: 5px 10px;
}

.blog button{
    display: block;
    padding: 5px 10px;
    border: none;
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
    border-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    
}
.blog button:hover{
    background-color: rgb(55, 171, 210);
    color: white;
    transform: scale(0.95);
}
.blog button a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 768px) {
    .blogs {
        flex-direction: column; /* Stack blogs vertically */
        align-items: center; /* Center blogs */
        justify-content: center; /* Center blogs */
        row-gap: 10px; /* Reduce gap between blogs */
        height: auto; /* Auto height */
        margin: 10px;
    }

    .blog {
        margin: 10px;
        width: 100%; /* Full width */
        padding: 15px; /* Adjust padding */
        margin-bottom: 15px; /* Reduce margin between blogs */
        margin-right: 1.2rem; /* Remove right margin */
        margin-left: 1.2rem; /* Remove left margin */
    }

    .blog img {
        height: auto; /* Adjust image height */
        horizontal-align: center; /* Center image */
    }

    .blog p {
        margin: 10px 0; /* Adjust paragraph margin */
    }

    .blog button {
        padding: 10px; /* Adjust button padding */
        /* width: 100%; Full width button */
    }
}